.footer {
  background-color: #F2F2F2;
}
.footer__logo, .footer__social {
  border-bottom: 1px solid #D9D9D9;
}
.footer__logo {
  display: flex;
  justify-content: center;
  padding: 39px 0 32px 0;
}
.footer__logo a:active img {
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.footer__social {
  padding: 24px 0;
}
.footer__copyright a {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.footer__copyright a {
  color: #444444;
}
.footer__logo img, .footer .social__item svg, .footer__copyright span, .footer__copyright img {
  transition: all 0.3s;
}
.footer__logo a:hover img, .footer__copyright a:hover span {
  opacity: 0.8;
}
.footer__logo a:active img, .footer__copyright a:active span {
  opacity: 0.6;
}
.footer .social__icon path {
  transition: all 0.3s;
}
.footer .social__item a:hover .social__icon path, .footer__copyright a:hover .social__icon path {
  fill: #68B738;
}
.footer .social__item a:hover .social__icon-fb path {
  fill: none !important;
  stroke: #68B738 !important;
}
.footer .social__item a:active .social__icon path, .footer__copyright a:active .social__icon path {
  fill: #68B738;
  opacity: 0.6;
}
.footer .social__item a:active .social__icon-fb path {
  stroke: #68B738 !important;
  opacity: 0.6;
}
@media (min-width: 767.98px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo, .footer__social {
    border-bottom: none;
  }
  .footer__copyright a {
    align-items: center;
  }
  .footer__copyright span {
    margin-right: 22px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 14%;
}
@media (min-width: 767.98px) {
  .social__item:not(:last-child) {
    margin-right: 43%;
  }
}