@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked),
input[type=radio]:checked,
input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label,
input[type=radio]:checked + label,
input[type=radio]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  line-height: 30px;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before,
input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  left: 6px;
  top: 4px;
  width: 18px;
  height: 14px;
  border-radius: 1px;
  border-left: 4px solid #68B738;
  border-bottom: 4px solid #68B738;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #68B738;
}

input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}

input[type=checkbox]:checked + label:after,
input[type=radio]:checked + label:after {
  opacity: 1;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  color: #444444;
}

/*------------------------------------*/
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*FLS hack*/
[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 110px;
}

/*END FLS hack*/
@media (max-width: 1279.98px) {
  [class*=__container] {
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    padding: 0 20px;
  }
}
.section-title {
  font-size: 36px;
  color: #000000;
  line-height: 1.1;
}

@media (min-width: 767.98px) {
  .section-title {
    font-size: 60px !important;
    line-height: 1;
  }
}
.bg-basic-gray {
  background-color: #F2F2F2;
}

/*BUTTON*/
.button {
  display: block;
  width: 100%;
  padding: 7px 0;
  background-color: #68B738;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button a {
  color: #FFFFFF;
}

.button:hover {
  background-color: #5EAA2F;
}

.button:active a {
  background-color: #5EAA2F;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 767.98px) {
  .button {
    padding: 14px 0;
    font-size: 20px;
  }
}
body.lock {
  overflow: hidden;
}

.text {
  font-size: 14px;
  color: black;
}

.header {
  width: 100%;
  z-index: 100;
  position: absolute;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0;
}
.header__logo img, .header__logo2 img {
  max-width: 100%;
}
.header__logo2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}
.header__logo:hover, .header__logo2:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.8;
}
.header__logo:active, .header__logo2:active {
  opacity: 0.6;
}
.header__burger {
  width: 24px;
  height: 16px;
  display: block;
  position: relative;
}
.header__burger span, .header__burger::before, .header__burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger::before, .header__burger::after {
  content: "";
}
.header__burger span {
  top: 8px;
}
.header__burger::before {
  top: 0px;
}
.header__burger::after {
  top: 16px;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(255, 255, 255, 0.93);
  width: 100%;
}
.header__menu.active {
  position: fixed;
  top: 66px;
  left: 0;
  padding: 15px 0 15px 20px;
}
.header__list {
  display: block;
}
.header__item:not(:last-child) {
  margin-bottom: 15px;
}
.header__item a {
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header__item a:hover {
  opacity: 0.6;
}
.header__item a:active {
  opacity: 0.3;
}
.header__item a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #68b738;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.header__item a.active:after {
  width: 100%;
}
@media (min-width: 767.98px) {
  .header__body {
    padding: 26px 0;
  }
  .header__logo2 {
    display: none;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  .header__menu {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    background: none;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header__item a {
    font-size: 18px;
  }
  .header__item a:after {
    bottom: -5px;
  }
}
@media (min-width: 991.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .header__menu {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .header__item a {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
  .header__item a:after {
    background-color: #ffffff;
  }
}
@media (min-width: 1098.98px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    bottom: -10px;
  }
}

.footer {
  background-color: #F2F2F2;
}
.footer__logo, .footer__social {
  border-bottom: 1px solid #D9D9D9;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 39px 0 32px 0;
}
.footer__logo a:active img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.footer__social {
  padding: 24px 0;
}
.footer__copyright a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}
.footer__copyright a {
  color: #444444;
}
.footer__logo img, .footer .social__item svg, .footer__copyright span, .footer__copyright img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__logo a:hover img, .footer__copyright a:hover span {
  opacity: 0.8;
}
.footer__logo a:active img, .footer__copyright a:active span {
  opacity: 0.6;
}
.footer .social__icon path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .social__item a:hover .social__icon path, .footer__copyright a:hover .social__icon path {
  fill: #68B738;
}
.footer .social__item a:hover .social__icon-fb path {
  fill: none !important;
  stroke: #68B738 !important;
}
.footer .social__item a:active .social__icon path, .footer__copyright a:active .social__icon path {
  fill: #68B738;
  opacity: 0.6;
}
.footer .social__item a:active .social__icon-fb path {
  stroke: #68B738 !important;
  opacity: 0.6;
}
@media (min-width: 767.98px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo, .footer__social {
    border-bottom: none;
  }
  .footer__copyright a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__copyright span {
    margin-right: 22px;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 14%;
}
@media (min-width: 767.98px) {
  .social__item:not(:last-child) {
    margin-right: 43%;
  }
}

.location {
  position: relative;
}
.location__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location__message {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.location__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.429;
  color: #444444;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.location__adress p:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.location #map {
  height: 400px;
  width: 100%;
}
@media (min-width: 767.98px) {
  .location__contacts {
    height: 200px;
    padding: 0 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
  }
  .location__message {
    font-size: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 27.5%;
            flex: 0 1 27.5%;
  }
  .location__adress {
    font-size: 16px;
    line-height: 1.25;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 27.5%;
            flex: 0 1 27.5%;
  }
}
@media (min-width: 991.98px) {
  .location__contacts {
    position: absolute;
    width: 570px;
    background-color: #FFFFFF;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
    left: 5%;
  }
}

header {
  border-bottom: 1px solid #D9D9D9;
}

.programm {
  padding-top: 93px;
  margin-bottom: 32px;
  /* TITLE LINE*/
  /* END TITLE LINE*/
  /*INPUT FORM*/
  /* END INPUT FORM*/
}
.programm__title {
  margin-bottom: 35px;
}
.programm__subtext {
  width: 70%;
  font-size: 14px;
  line-height: 1.286;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.programm__pet-input {
  margin: 0 0 25px 0;
}
.programm__type {
  padding: 20px 0;
  position: relative;
}
.programm__type div:not(:nth-last-child(2)) {
  margin-bottom: 13px;
}
.programm__pet, .programm__type, .programm__owner, .programm__comment {
  margin: 0 0 25px 0;
}
.programm__subtitle {
  font-size: 24px;
  line-height: 1.1;
  padding: 0 20px 0 0;
  background-color: #FFFFFF;
  margin: 0 0 32px 0;
  position: relative;
}
.programm__owner .owner__mail input {
  background: url("../img/icons/icon-mail.svg") 0 0/18px 14px no-repeat;
  background-position: calc(100% - 15px) 50%;
}
.programm__owner .owner__phone input {
  background: url("../img/icons/icon-phone.svg") 0 0/20px 20px no-repeat;
  background-position: calc(100% - 15px) 50%;
}
.programm__owner .programm__subtitle {
  width: 72%;
}
.programm .w-divider {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #D9D9D9;
  top: 0;
  left: 0;
}
.programm .w-divider100 {
  top: 100% !important;
}
.programm__line {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.programm__line span {
  display: block;
  height: 2px;
  background: #68B738;
}
.programm__owner .programm__line, .programm__comment .programm__line, .programm__additional .programm__line {
  top: 50%;
}
.programm__comment .programm__subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.programm__comment .programm__comment-area {
  border: 1px solid #E7E7E7;
  width: 100%;
  height: 100%;
  height: 150px;
}
.programm__comment .programm__comment-area textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.125;
  padding: 13px 15px;
  text-transform: uppercase;
}
.programm__additional {
  margin-bottom: 35px;
}
.programm__additional .programm__subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.programm__additional .programm__additional-list div:not(:nth-last-child(1)) {
  margin-bottom: 13px;
}
.programm__button .programm__button-button {
  margin-bottom: 20px;
}
.programm__button p {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.15;
  color: #000000;
}
.programm .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.programm input {
  border: 1px solid #E7E7E7;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}
.programm .input-container {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}
.programm .input-container input {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}
.programm .input-container:not(:last-child) {
  margin-bottom: 13px;
}
.programm .input-container input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 13px;
  padding: 14px 15px;
}

/*START CHECKBOX STYLE*/
input + label {
  font-size: 16px;
  line-height: 1.25;
  color: #222222;
  text-transform: uppercase;
}

input:not(:last-child) {
  margin-bottom: 25px;
}

/*END CHECKBOX  STYLE*/
@media (min-width: 767.98px) {
  .header {
    border: none;
  }
  .header__item a {
    color: #000000;
  }
  .header__item a:after {
    background-color: #68B738;
  }
  .programm {
    padding-top: 140px;
  }
  .programm__pet, .programm__type, .programm__owner, .programm__comment, .programm__pet-input {
    margin: 0 0 65px 0;
  }
  .programm .divider {
    display: none;
  }
  .programm__title {
    margin-bottom: 50px;
  }
  .programm__subtitle {
    font-size: 36px;
    line-height: 1;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 0 0 -20px;
    padding: 0 20px;
  }
  .programm .programm__owner .programm__subtitle {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  .programm__subtext {
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
    margin-bottom: 60px;
  }
  .programm .input-container input, .programm .input-container span, .programm input + label {
    font-size: 20px;
    line-height: 1.5;
  }
  .programm .input-container:not(:last-child) {
    margin-bottom: 20px;
  }
  .programm__type {
    margin: 0 0 75px 0;
    border: 1px solid #E7E7E7;
    padding: 25px 28px;
  }
  .programm__type div:not(:nth-last-child(2)) {
    margin-bottom: 20px;
  }
  .programm__type .w-divider {
    display: none;
  }
  .programm__owner .programm__subtitle, .programm__comment .programm__subtitle, .programm__additional .programm__subtitle {
    margin-bottom: 60px;
  }
  .programm .programm__additional-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .programm .programm__additional-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .programm .programm__additional-list div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .programm__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .programm__button .programm__button-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin: 0 8% 0 0;
  }
  .programm__button p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (min-width: 991.98px) {
  .programm__pet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .programm__pet-input, .programm__type {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin: 0;
  }
  .programm__owner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .programm .owner__mail, .programm .owner__phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%;
  }
  .programm .owner__mail {
    margin: 0 !important;
  }
  .programm__additional-list > div {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 18% !important;
            flex: 0 1 18% !important;
  }
}