.programm-section {
  margin-bottom: 27px;
}
.programm-section__content {
  display: flex;
  flex-direction: column;
}
.programm-section__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 24px 20px 22px 20px;
}
.programm-section__card:not(:last-child) {
  margin-bottom: 20px;
}
.programm-section__icon, .programm-section__title, .programm-section__text, .programm-section hr {
  margin-bottom: 22px;
}
.programm-section__icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #68B738;
  position: relative;
}
.programm-section__icon img {
  position: absolute;
  transform: translate(-50%, -50%);
}
.programm-section .icon-cat-slim img {
  height: 50px;
  top: 22px;
  left: 25px;
}
.programm-section .icon-cat-pro img {
  width: 67px;
  top: 25px;
  left: 24px;
}
.programm-section__title {
  width: calc(100% - 70px);
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}
.programm-section__text {
  width: 100%;
  color: #444444;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Arial", sans-serif;
}
.programm-section hr {
  width: 100%;
  background-color: #D9D9D9;
  height: 1px;
}
.programm-section__link {
  width: 100%;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
}
.programm-section__link a:active, .programm-section__link a:active .arrow-right {
  opacity: 0.3;
}
.programm-section .arrow-right {
  margin: 0 0 2px 25px;
  transition: all 0.3s ease-in-out;
}
.programm-section__link a:hover .arrow-right {
  transform: scale(1.3, 1);
}
.programm-section__link a {
  color: #000000;
}
@media (min-width: 767.98px) and (max-width: 991.97px) {
  .programm-section__card:not(:last-child) {
    margin-bottom: 30px;
  }
  .programm-section__card {
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
  }
  .programm-section__text, .programm-section__link, .programm-section__title {
    width: calc(100% - 290px);
  }
  .programm-section__icon {
    position: absolute;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 77%;
  }
  .programm-section .icon-cat-slim img {
    height: 192px;
    top: 43%;
    left: 50%;
  }
  .programm-section .icon-cat-pro img {
    width: 269px;
    top: 50%;
    left: 50%;
  }
}
@media (min-width: 767.98px) {
  .programm-section {
    margin-bottom: 45px;
  }
  .programm-section__card {
    padding: 77px 28px 57px 52px;
  }
  .programm-section hr {
    display: none;
  }
  .programm-section__title {
    font-size: 36px;
    line-height: 1;
  }
  .programm-section__text {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 48px;
  }
  .programm-section__link {
    font-size: 20px;
    line-height: 1.5;
  }
  .programm-section__link a::after {
    left: 145px;
  }
}
@media (min-width: 991.98px) {
  .programm-section {
    margin-bottom: 70px;
  }
  .programm-section__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .programm-section__card {
    padding: 41px 52px 59px 52px;
    width: 47.5%;
    margin-bottom: 0 !important;
  }
  .programm-section__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .programm-section__icon {
    margin-bottom: 39px;
    width: 100px;
    height: 100px;
  }
  .programm-section__title {
    width: calc(100% - 132px);
  }
  .programm-section__text {
    margin-bottom: 27px;
  }
  .programm-section .icon-cat-slim img {
    height: 97px;
    top: 43%;
    left: 50%;
  }
  .programm-section .icon-cat-pro img {
    width: 135px;
    top: 50%;
    left: 50%;
  }
}