.section-title {
  font-size: 36px;
  color: #000000;
  line-height: 1.1;
}




@media (min-width: 767.98px) {
  .section-title { 
    font-size: 60px !important;
    line-height: 1;
  }

}



.bg-basic-gray {
  background-color: #F2F2F2;
}




/*BUTTON*/
.button {
  color: #FFFFFF;
}

.button a {
  color: #FFFFFF;
}

.button:hover {
  background-color: #5EAA2F;
}

.button:active a {
  background-color: #5EAA2F;
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 767.98px) {
  
  .button {
    padding: 14px 0;
    font-size: 20px;
  }
}


