@import 'nullstyles';
@import 'fonts';
@import 'general';
@import 'header';
@import 'footer';
@import 'section-promo';
@import 'section-programm';
@import 'section-how';
@import 'twentytwenty-no-compass';
@import 'section-before-after';
@import 'location';
@import 'section-catalog';
@import 'section-additions';


/*

# Mobile
only screen and (min-width: 480px)
background-color: #64bbde;

# Tablet
only screen and (min-width: 768px) 
background-color: #918726;

# Desktop
only screen and (min-width: 992px)
 background-color: #19d473;

# Huge
only screen and (min-width: 1280px) 


@media (max-width: 991.98px){
	.main {padding-bottom: 50px;}
}
@media (max-width: 767.98px) {
	.main {
		padding-bottom: 30px;
	}
}





*/







body {
   font-family: 'Oswald', sans-serif;
   line-height: 1;
   color: #444444;
}

/*------------------------------------*/
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}


/*FLS hack*/
[class*="__container"] {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0px 15px;
}
/*END FLS hack*/

@media (max-width: 991.98px) {
   [class*="__container"] {
      padding: 0 30px;
   }
}

@media (max-width: 767.98px) {
   [class*="__container"] {
      padding: 0 20px;
   }
}

